<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <h1 id="heading"><%=DAY%></h1>
    <div class="box">
        <%for(var i=0;i<items.length;i++) {%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="delete" value="<%=items[i]%>" onChange="this.form.submit();">
                    <p><%=items[i]%></p>
                </div>
            </form>
            
        <%}%>
        </form>
        <form method="post" action="/" class="item">
            <input type="text" id="new" name="new" placeholder="new item" autocomplete="off"> 
            <button type="submit">+</button>
        </form> 
    </div>
    
   

</body>
</html>